<div class="jumbotron">
  <h1>achieve12</h1>
  <p>「経験ゼロからWebエンジニアになる</p>
  <p>achieve12は、目標達成を支援するWebアプリケーションです。</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">今すぐ始める</a></p>
</div>