<ul>
<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
<li><%= comment.user.name %></li>
<li><%= comment.content %></li>
<li><%= link_to 'Edit', edit_comment_path(comment) %></li>
<li><%= link_to 'Destroy', blog_comment_path(@blog, comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
<% end %>
</ul>
<br>