<p>どうも <%= @resource.email %>!</p>

<p>誰かがパスワードを変更するためのリンクを要求しました。あなたは下のリンクを介してこれを行うことができます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>あなたがこれを要求していない場合は、このメールを無視してください。</p>
<p>あなたのパスワードは、上記のリンクにアクセスするまで変更し、新しいものを作成しません。</p>
